body{
   height:  100vh;
   background-color: #111;
   margin: 0;
}
main{
    display: flex;
    gap: 35px;
}
#image{
position: relative;
width: 30%;
}
#frm{
width: 30%;
}


.link p {
position: absolute;
bottom: 0;
color: aliceblue;

    
}
.link{
display: flex;
justify-content: center;
}
p a:visited{
text-decoration: none;
color: aliceblue;
cursor: wait;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40vh;
    height: 15%;
    width: 100%;
    opacity: 70%;
    background-color: black;
}
.logo h4 {
    color: aliceblue;
    font-size: 1.5rem;

}

#image img {
  width: 100%;
  height: 100vh;
 
}
form{
    display: flex;
    width: 700px;
    flex-wrap: wrap;
}